.span-20{:id => dom_id(reply)}
  .span-1
    %a{:href => "aa", :id => "#{dom_id(reply)}_actions", :style => "display:none;"}R
    &nbsp;
  .span-1
    %a{:href => user_path(reply.user), :title => reply.user.display_name}
      %img{:src => gravatar_url(reply.user.email, :size => 30)}
  .span-18.last
    = post_preview(reply.body)
    #{time_ago_in_words(reply.created_at)} ago
:javascript
  Event.observe('#{dom_id(reply)}','mouseover', function() {
    $('#{dom_id(reply)}_actions').show();
  });
  Event.observe('#{dom_id(reply)}','mouseout', function() {
    $('#{dom_id(reply)}_actions').hide();
  });
