- hide ||= nil
%div{:class => "span-#{@entity_columns}", :id => dom_id(comment), :style => hide ? "display:none" : ''}
  %div.span-1
    &nbsp;
  %div{:class => "span-#{@entity_columns-1} comment last", :id => "#{dom_id(comment)}_inner"}
    %div.span-1
      %a{:href => user_path(comment.user), :title => comment.user.display_name}
        %img{:src => gravatar_url(comment.user.email, :size => 30)}
    %div{:class => "span-#{@entity_columns - 2} last"}
      %div
        = post_preview(comment.body)
      %div.meta
        #{time_ago_in_words(comment.created_at)} ago
        - if signed_in?
          = link_to_function("Quote", :id => "#{dom_id(comment)}_actions", :style => "display:none") do |page|
            - page << "showCommentForm('#{dom_id(comment.entity)}','[quote=#{comment.user.display_name}]#{escape_javascript(comment.body)}[/quote]');"

:javascript
  $j('##{dom_id(comment)}').mouseover(function() {
    $j('##{dom_id(comment)}_actions').show();
    $j('##{dom_id(comment)}_inner').toggleClass('comment_highlight');
  });
  $j('##{dom_id(comment)}').mouseout(function() {
    $j('##{dom_id(comment)}_actions').hide();
    $j('##{dom_id(comment)}_inner').toggleClass('comment_highlight');
  });
