= juggernaut(:channels => ['folder_1'])

%h1 #{@folder.name}

=render "posts/form" if signed_in?

#entities
  - @entities.each do |entity|
    = render entity

:javascript
  var loaded_entities = [#{@entities.map {|e| e.id}.join(',')}];
  var loaded_comments = [#{@entities.collect{|e| e.comments}.flatten.map {|e| e.id}.join(',')}];

  /*
  new PeriodicalExecuter(function() {
      new Ajax.Request(
        '/folders/#{@folder.id}/add_new_entities?loaded_entities=' + loaded_entities + '&loaded_comments=' + loaded_comments,
        {
          method : 'get',
          //onComplete:function(a) { checking_entities = false;console.log("done"); },
          //onFailure:function(a) { console.log('fail'); },
          //on304:function(a) {console.log('304!');}
        }
      );
  }, 5);
  */
