- style = @hide ? 'display:none' : ''
%div{:class => "link_container span-#{@main_columns - 2} prepend-1 append-1"}
  %div{:class => "tweet span-#{@entity_columns}", :style => style, :id => dom_id(link)}
    %div.span-1
      %a{:href => user_path(link.user), :title => link.user.display_name}
        %img{:src => gravatar_url(link.user.email, :size => 35)}
    %div{:class => "span-#{@entity_columns - 1} last"}
      %div
        = link.url
      %div.meta
        &nbsp;
        %br
        Shared #{time_ago_in_words(link.created_at)} ago
        by
        %a{:href => user_path(link.user)}#{link.user.display_name}
        =link_to_function("Comment", "showCommentForm('#{dom_id(link)}')") if signed_in?
    - unless link.comments.empty?
      -# %div{:class => "span-#{@entity_columns}", :id => "#{dom_id(tweet)}_comments"}
      - link.comments.each do |comment|
        -# .span-1
        -#   &nbsp;
        = render comment
  %div{:class => "span-#{@entity_columns} prepend-2", :id => "#{dom_id(link)}_comment", :style => "display:none;"}
    = render :partial => "comments/form", :locals => {:entity => link}
